<nav ng-controller="NavController" class="navbar">

    <ul class="main-menu">
        <a href="/"><img src="/assets/images/sailer.jpg" alt=""></a>
        <li ng-class="{ active: isActive('/')}">
            <a ng-href="/school" translate="sailing_school" ng-class="{ active: isActive('/')}">
            </a>
        </li>
        <li>
            <a ng-href="/about" translate="conditions_of_program"></a>
            <ul class="menu-2">
                <li><a href="#" translate="training_program"></a></li>
                <li><a href="#" translate="leaders"></a></li>
                <li><a href="#" translate="own_ships"></a></li>
                <li><a href="#" translate="route"></a></li>
                <li><a href="#" translate="food"></a></li>
                <li><a href="#" translate="bath"></a></li>
            </ul>
        </li>
        <li><a ng-href="/contacts" translate="contacts"></a></li>
    </ul>
    <div class="translate-buttons">
        <button ng-click="changeLanguage('ru')" translate="BUTTON_LANG_RU" ng-class="ru ? 'active' : ''">+</button>
        <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN" ng-class="en ? 'active' : ''">-</button>
    </div>
</nav>
